*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}li{
    list-style: none;
}a{
    text-decoration: none;
}
nav{
 background-color: black;
width: 100%;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    
 

}nav .logo img{
    width: 206px;
    height: 79px;
    color: #FFF;

}nav .nav{
    display: flex;
    padding-right: 100px;

}nav .nav li a{
    display: block;
    line-height: 5;
    width: 100px;
    height: 70px;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    
}nav .nav li a.active{
    color: #C7A17A;
    border-bottom:2px solid #FFF;

}

nav .nav li a:hover{
 color: #C7A17A;
 border-bottom:2px solid #FFF;
}
nav .login{
    padding-top: 10px;
    color: #FFF;
    display: flex;
    
}nav .login a{
    display: inline-block;
    line-height: 2.3;
    color: #FFF;
 
    
    padding-right: 25px;  
}nav .login a:hover{
    color: #C7A17A;
}
nav .login img{
    line-height: 1;
    width: 65px;
    height: 65px;
    border-radius: 35px;
}  

/* ******************************** START SLIDER *******************************8 */

.slider{
    
    width: 100%;
    height: 700px;
    margin-bottom: 10px;
}.slider .active{
   
    width: 100%;
    height: 100%;
    background-image: url('../img/hero-img-3-1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

    align-items: center;
}.slider .active .body{
    padding-left: 20px;
    color: #FFF;
    
}.slider .active .body h2{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
}.slider .active .body p{
    padding-top: 10px;
    font-size: 20px;
   
}.slider .active .body a{
    display: inline-block;
    width: 160px;
    height: 60px;
    text-align: center;
    line-height: 2.7;
    font-size: 20px;
    margin-top: 10px;  
     border: 1px solid #FFF;
    border-radius: 10px;
    text-transform: capitalize;
    color: #FFF;
}.slider .active .body a.read{
    background-color: #C7A17A;
    
}.slider .active .body a:hover{
    background-color: #C7A17A;
}


.animate__animated.animate__backInDown{
    --animate-duration: 5s;


}#search_box{
    margin-left: 150px;
    position: absolute;
    right: 88px;
    top: 27px;
}#search_box #search{
     width: 220px;
    height: 10px;
}

/* ////////////////////////////////////////////////////// */


#list-tab{

    margin-left:110px;
}#list-tab a:hover{
    background-color: #0D6EFD;
}

#ctegory{
    text-align: center;
}
.service{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
background-image: url('../img/dc09b3d3-d02f-45a5-81d2-302dcd75a135.jpeg');
    padding: 20px;
}
.service .padd{
    width: 32%;
    height: 360px;
    padding: 10px;
}

.service .cart{
    width: 100%;
    
    border: 1px solid #ddd;
 padding-bottom: 10px;
}.service .cart img{
    width: 100%;
    height: 220px;
}.service .cart .text{
    text-align: center;
    line-height: 1.5;
    color: #FFF;
}.service .cart .text h2{
    font-size: 35px;
    font-family: ui-sans-serif;
    color: #333;
}
#add_to_cart{
    display: block;
    padding: 5px;
    background-color: skyblue;
}#add_to_cart:hover{
    background-color: black;
}


 


.our_team
{
    width: 100%;
    margin-bottom: 20px;
     
}
.team{
    width: 80%;
  
    margin: auto;
     
    display: flex;
    flex-wrap: wrap;
}   
.team_space
{
    width: 33%;
    height: 400px;
    padding: 10px;
    margin-bottom: 20px;
   

}

.team_man{
    width: 100%;
   margin-bottom: 10px;
    border: 1px solid #ddd;
}.team_man img{
    width: 100%;
    height: 300px;
}.team_man .text{
    text-align: center;
    padding: 5px;
}.team_man .icon{
    padding-top: 10px;
    padding-right:10px;
    
}.team_man .icon i{
    padding: 5px;
}.team_man .icon i:hover
{
    color: #C7A17A;
}

#left{
    background-color: #333;
}

/* body{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../photo/bg.jpg);
    background-position: center;
    background-size: cover;
}
.container{
    max-width: 1300px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#myVideo{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.logo{
    font-size: 35px;
    color: #fff;
}
.navbar-menu a{
    color: #fff;
    font-size: 13px;
    font-family: 'Raleway',sans-serif;
    font-weight: 100;
    padding: 12px 15px;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.4s;
  }
.navbar-menu a:hover{
    background-color: #fff;
    color: #000;
}
.description{
    position: absolute;
    top: 50%;
    left: 50%;
        transform: translate(-50%,-50%);
        color: #fff;
    padding: 0 70px;
    width: 100%;
    text-align: center;
}
.description h2{
    font-size: 30px;
    font-family: 'Great Vibes',sans-serif;
    font-weight: 100;
    color: #fff;
    letter-spacing: 2px;
    line-height: 50px;
}
.description h1{
    font-size: 35px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 70px;
}
.description p{
    font-size: 14px;
    font-family: 'Raleway',sans-serif;
    font-weight: 100;
    color: #fff;
    letter-spacing: 2px;
    line-height: 25px;
    margin-bottom: 30px;
}
.description button{
    font-size: 14px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    color: #fff;
    background: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px 20px;
    border: 1px solid #fff;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
}
.description button:hover{
    background: #fff;
    color: #000;
}



@media only screen and (max-width: 600px) {
  .navbar-menu .small{
        display: none;
    }
  }
@media only screen and (max-width: 400px) {
   .description h2,.description h1,.description button{
          font-size: small;
      }
    } */